.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(8, 8, 8);
}


.skill {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(106, 195, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.skill h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
